<h1> Welcome to movies hub </h1>

<% @movies.each do |movie|%>
   <li>
      <%= link_to movie.name, movie %>
   </li>
<%end%><br><br>

<% if user_signed_in?%>
  <% if current_user.role == 'admin' %>
    <%= link_to 'Add New Movie',new_movie_path ,class: "btn btn-primary btn-sm" %>
  <% end %> 
<% end %>

