<div class="general">
<div class="post">
<h1 style="color: white;">Welcome To Movies Hub</h1>
<% if user_signed_in?%>
  <% if current_user.role == 'admin' %>
    <%= link_to 'Add New Movie',new_movie_path ,class: "btn btn-primary btn-sm" %>
  <% end %> 
<% end %>
<div class="movie-grid">
  <% @movies.each do |movie| %>
    <div class="movie-item">
      <h2 style="color: white"><%= movie.name %></h2>
      <%= link_to image_tag(movie.main_image,class: 'movie-image'),movie %>
    </div>
  <% end %>
</div>
</div>
</div>