<div class="container">
  <table class="table table-dark">
    <thead>
      <tr>
        <th>Movie name</th>
        <th>Rating</th>
        <th>Description</th>
        <th>Release Date</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each  do |movie| %>
        <tr>
          <td><%= movie.name %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.description %></td>
          <td><%= movie.released_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
