<% @movies.each  do |movie| %>
  <label for="">Movie name  : <%= movie.name%> </label><br>
  <label for="">Rating      : <%= movie.rating %> </label><br>
  <label for="">Description : <%= movie.description %> </label><br>
  <label for="">Released Date: <%= movie.released_date %> </label><br>
  <br>
<% end %><br>
