.img-fixed-size {
  top: 20%;
  width: 400px;
  height: 500px;
}

/* Styles for the movie grid */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* Styles for each movie item */
.movie-item {
  text-align: center;
}

/* Styles for movie images */
.movie-image {
  max-width: 100%;
  height: auto;
  width: 300px; 
  height: 400px; 
  object-fit: cover;
}
.back {
  background: #e2e2e2;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}


/* ...
 *= require_self
 *= require_tree .
 */
.center {
  position: absolute;
  top: 25%;
  right: 40%;
}
.general {
 background-image: url("cesar-couto-TIvFLeqZ4ec-unsplash.jpg");
 background-color: #000000;
 
}
.general-show{
 background-image: url("cesar-couto-TIvFLeqZ4ec-unsplash.jpg");
 background-color: #000000;
 width: 100%;
 height: 100%;
 padding: 0; /* Remove padding */
 margin: 0;
 
}

.post input {
  background-color: #FF0000;
}
.reviews-container-left {
  margin-left: 40px;
}
.black-heading {
  color: white;
}

